In [1]:
import numpy as np
import pandas as pd
import sklearn
import pickle

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df= df[['age', 'sex','smoker','charges']]

In [5]:
df

      age     sex smoker      charges
0      19  female    yes  16884.92400
1      18    male     no   1725.55230
2      28    male     no   4449.46200
3      33    male     no  21984.47061
4      32    male     no   3866.85520
...   ...     ...    ...          ...
1333   50    male     no  10600.54830
1334   18  female     no   2205.98080
1335   18  female     no   1629.83350
1336   21  female     no   2007.94500
1337   61  female    yes  29141.36030

[1338 rows x 4 columns]

In [6]:
df.columns = ['age', 'sex', 'smoker', 'Insurance_Amount']

In [7]:
df

      age     sex smoker  Insurance_Amount
0      19  female    yes       16884.92400
1      18    male     no        1725.55230
2      28    male     no        4449.46200
3      33    male     no       21984.47061
4      32    male     no        3866.85520
...   ...     ...    ...               ...
1333   50    male     no       10600.54830
1334   18  female     no        2205.98080
1335   18  female     no        1629.83350
1336   21  female     no        2007.94500
1337   61  female    yes       29141.36030

[1338 rows x 4 columns]

In [8]:
X = df[['age', 'sex', 'smoker']]

In [9]:
y = df['Insurance_Amount']

In [12]:
X.dtypes

age        int64
sex       object
smoker    object
dtype: object

In [11]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: Insurance_Amount, Length: 1338, dtype: float64

In [13]:
X = pd.get_dummies(X)

In [14]:
X

      age  sex_female  sex_male  smoker_no  smoker_yes
0      19           1         0          0           1
1      18           0         1          1           0
2      28           0         1          1           0
3      33           0         1          1           0
4      32           0         1          1           0
...   ...         ...       ...        ...         ...
1333   50           0         1          1           0
1334   18           1         0          1           0
1335   18           1         0          1           0
1336   21           1         0          1           0
1337   61           1         0          0           1

[1338 rows x 5 columns]

In [16]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [17]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
pickle.dump(regressor, open('model.pkl','wb'))